<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>shopping.controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>shopping.controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>shopping.controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginForm</servlet-name>
        <servlet-class>shopping.controller.LoginForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpForm</servlet-name>
        <servlet-class>shopping.controller.SignUpForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartUpApp</servlet-name>
        <servlet-class>shopping.controller.StartUpApp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProducts</servlet-name>
        <servlet-class>shopping.controller.ShowProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>shopping.controller.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCart</servlet-name>
        <servlet-class>shopping.controller.AddCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateItemCart</servlet-name>
        <servlet-class>shopping.controller.UpdateItemCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductCart</servlet-name>
        <servlet-class>shopping.controller.DeleteProductCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAddForm</servlet-name>
        <servlet-class>shopping.controller.ShowAddForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>shopping.controller.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>shopping.controller.UpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUpdateForm</servlet-name>
        <servlet-class>shopping.controller.ShowUpdateForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>shopping.controller.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkout</servlet-name>
        <servlet-class>shopping.controller.Checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>shopping.controller.Registration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginForm</servlet-name>
        <url-pattern>/LoginForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpForm</servlet-name>
        <url-pattern>/SignUpForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartUpApp</servlet-name>
        <url-pattern>/StartUpApp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProducts</servlet-name>
        <url-pattern>/ShowProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCart</servlet-name>
        <url-pattern>/AddCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateItemCart</servlet-name>
        <url-pattern>/UpdateItemCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductCart</servlet-name>
        <url-pattern>/DeleteProductCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAddForm</servlet-name>
        <url-pattern>/ShowAddForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUpdateForm</servlet-name>
        <url-pattern>/ShowUpdateForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkout</servlet-name>
        <url-pattern>/Checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>DBCon</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
